# DEFINITIOS

In [ ]:
# def function_name(arguments):
#     statements

In [1]:
def add_nums(x,y):
    return x+y

In [2]:
add_nums(10,20)

30

In [3]:
add_nums(10)

TypeError: add_nums() missing 1 required positional argument: 'y'

In [12]:
def add_nums(x,y=0):
    return x+y

In [5]:
add_nums(10)

10

In [6]:
add_nums(10,20)

30

In [7]:
def add_nums(x=0,y=0):
    return x+y

In [8]:
add_nums()

0

In [9]:
add_nums(100)

100

In [10]:
add_nums(100,200)

300

In [16]:
def add_nums(x,y,*z):
    print("x is ", x)
    print("y is ", y)
    print("z is ", z)
    return x+y+sum(z)

In [17]:
add_nums(10,20)

x is  10
y is  20
z is  ()

30

In [18]:
add_nums(10,20,30)

x is  10
y is  20
z is  (30,)

60

In [19]:
add_nums(10,20,30,40,50)

x is  10
y is  20
z is  (30, 40, 50)

150

In [20]:
add_nums(10,20,30,40,50,1,2,3,4,4,6,7,8,100,876,653,6533,62,24,245,4434311)

x is  10
y is  20
z is  (30, 40, 50, 1, 2, 3, 4, 4, 6, 7, 8, 100, 876, 653, 6533, 62, 24, 245, 4434311)

4442989

In [21]:
def add_nums(*x):
    return sum(x)

In [22]:
add_nums(10,20,30,40,50,1,2,3,4,4,6,7,8,100,876,653,6533,62,24,245,4434311)

4442989

In [23]:
add_nums(10,20,30,40,50)

150

In [33]:
def add_nums(x,y,*z,**k):
    print("Dictionary :", k)
    for key in k.keys():
        print(str(key).title()+" ===> "+ str(k[key]).upper())
    return x+y+sum(z)

In [34]:
add_nums(10,20,30,40,50,name="Raghul",city="Chennai",contact=9874938649)

Dictionary : {'name': 'Raghul', 'city': 'Chennai', 'contact': 9874938649}
Name ===> RAGHUL
City ===> CHENNAI
Contact ===> 9874938649

150

In [35]:
def add_nums(x,y):
    """The function: add_nums() must be called with two numbers to get the sum of them"""
    return x+y

In [36]:
add_nums(10,20)

30

In [37]:
add_nums.__doc__

'The function: add_nums() must be called with two numbers to get the sum of them'

## Variable Scope

In [40]:
# Global and Local scope

age=38   #global 
name="Vijay"

def myfunc():
    #name="Raghul Ramesh"        #local
    print("Within a function. Age:", age)
    print("Within a function. name:", name)
    
myfunc()
print("Out of a function. Age:", age)
print("out of a function. name:", name)

Within a function. Age: 38
Within a function. name: Vijay
Out of a function. Age: 38
out of a function. name: Vijay

In [45]:
# Global and Local scope

age=40   #global 

def myfunc():
    global age
    age=39            #local
    print("age inside a function:", age)
    
print("age before the funcion call:", age)   #40   --1
myfunc()                                     #39   --2
print("age after the function call:", age)   #39   --3

age before the funcion call: 40
age inside a function: 39
age after the function call: 39